body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

button {
    cursor: pointer;
    background-color: #00b894;
    color: #fff;
    font-weight: bold;
}

button:hover {
    background-color: #019874;
}

a {
    color: #00d2ff;
    text-decoration: none;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
    border: 1px solid #fff;
}
